/* Add here all your css styles (customizations) */

img.img-responsive {
  margin-left: auto;
}

img.img-responsive.saiba_mais {
  margin: auto;
}

body.dark .about-me h2 {
  color: #72c02c;
}

body.dark .pricing-head h3 span strong{
    color:#fafafa;
}

body.dark .pricing-head h3 p{
    color:#fafafa;
}

body.dark .pricing-content li.bg-color{
    text-transform: uppercase;
}

body.dark .form-control{
    background: rgba(32, 32, 32, 0.5);
}

body.dark .breadcrumbs-v2 h1 {
    color: #000;
}

.quanto {
    background: url(../img/bg/breadcrumb_quanto.jpg) no-repeat 0px -700px;
}

/*.oque {
    background: url(../img/bg/oque.jpg) repeat fixed;
}*/

.contato_bg {
  background: url(../img/bg/bg_contato.jpg) repeat fixed;
}

body.dark .contato li, body.dark .contato li a{
    color: #FFF;
}

/*.solicitar {
  background: url(../img/bg/bg_comosolicitar.jpg) repeat fixed;
}*/

.bg-image-v1:before {
  /*background: url(../img/patterns/gridtile.png) repeat;*/
  background: rgba(0, 0, 0, 0.69);
}

.contato label{
  color: #FFF;
}

/*body.dark .wrapper p {
  color: #FFFFFF;
}*/

.da-slide p i {
    color: #FFFFFF;
}

.first-slide p i {
    background: none;
}

.da-slider{
    background: transparent url(../img/bg/bg_slider.jpg) repeat 0% 0%;
}

body.dark .form-control {
    border-color: #FFFFFF;
}