/* Add here all your css styles (customizations) */

img.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

body.dark .about-me h2 {
  color: #72c02c;
}

body.dark  .pricing-head h3 span strong{
    color:#fafafa;
}

body.dark  .pricing-head h3 p{
    color:#fafafa;
}

body.dark .pricing-content li.bg-color{
    text-transform: uppercase;
}

body.dark .breadcrumbs-v2 h1 {
    color: #000;
}

.contato {
  background: url(../img/bg/bg_contato.jpg) repeat fixed;
}

.solicitar {
  background: url(../img/bg/bg_comosolicitar.jpg) repeat fixed;
}

.bg-image-v1:before {
  /*background: url(../img/patterns/gridtile.png) repeat;*/
  background: rgba(0, 0, 0, 0.69);
}
