{% load staticfiles %}
{% load i18n %}
<!-- Our Clients -->
<div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h2>{% trans "Nossos Clientes" %}</h2></div>
    <ul class="slides">
        <li>
            <a href="#">
                <img src="{% static 'img/clients/queiroz_galvao.png' %}" alt="">
                <img src="{% static 'img/clients/queiroz_galvao.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/serttel.png' %}" alt="">
                <img src="{% static 'img/clients/serttel.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/pamesa.png' %}" alt="">
                <img src="{% static 'img/clients/pamesa.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/subiton.png' %}" alt="">
                <img src="{% static 'img/clients/subiton.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/banco_azteca.png' %}" alt="">
                <img src="{% static 'img/clients/banco_azteca.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/albuquerquepinto.png' %}" alt="">
                <img src="{% static 'img/clients/albuquerquepinto.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/cervantes.png' %}" alt="">
                <img src="{% static 'img/clients/cervantes.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/rebeca_lucia.png' %}" alt="">
                <img src="{% static 'img/clients/rebeca_lucia.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/iberdrola.png' %}" alt="">
                <img src="{% static 'img/clients/iberdrola.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/bertolin.png' %}" alt="">
                <img src="{% static 'img/clients/bertolin.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/tecon.png' %}" alt="">
                <img src="{% static 'img/clients/tecon.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/queiroz.png' %}" alt="">
                <img src="{% static 'img/clients/queiroz.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/gestamp.png' %}" alt="">
                <img src="{% static 'img/clients/gestamp.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/century.png' %}" alt="">
                <img src="{% static 'img/clients/century.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/cristalpet.png' %}" alt="">
                <img src="{% static 'img/clients/cristalpet.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/vasconcelos.png' %}" alt="">
                <img src="{% static 'img/clients/vasconcelos.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/tas.png' %}" alt="">
                <img src="{% static 'img/clients/tas.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/impsa_wind.png' %}" alt="">
                <img src="{% static 'img/clients/impsa_wind.png' %}" class="color-img" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/clients/fav.png' %}" alt="">
                <img src="{% static 'img/clients/fav.png' %}" class="color-img" alt="">
            </a>
        </li>



    </ul>
</div><!--/flexslider-->
<!-- End Our Clients -->