{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}
<!-- CSS Page Style -->
<link rel="stylesheet" href="assets/css/pages/page_contact.css">
{% endblock extra_css %}

{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
    	<div class="container">
            <h1 class="pull-left">{% trans 'Como Solicitar' %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">{% trans "Tradução Juramentada" %}</a></li>
                <li class="active">{% trans 'Como Solicitar' %}</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row margin-bottom-40">
        	<div class="col-md-6 md-margin-bottom-40">
                <div class="headline"><h2>COMO SOLICITAR uma tradução juramentada?</h2></div>
                <p>{% trans 'Para fins de orçamento, envie um e-mail com o documento a ser traduzido digitalizado ou poderá entregá-lo pessoalmente. Entre em contato com a Tradutora pública ou preencha o formulário.' %}</p>
                <p>{% trans 'Assumimos o compromisso de enviar um orçamento detalhado para apreciação com a maior celeridade e sem nenhum compromisso.' %}</p>
            </div>

            <div class="col-md-9 mb-margin-bottom-30">
                <!-- Google Map -->
                <!--<div id="map" class="map map-box map-box-space margin-bottom-40"></div>-->
                <!-- End Google Map -->

                <h3>{% trans 'Orçamento Rápido' %}</h3><br />
                <form>
                    <label>{% trans 'Nome' %}</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <label>Email <span class="color-red">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <label>{% trans 'Descrição do documento' %}</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <textarea rows="10" class="form-control"></textarea>
                        </div>
                    </div>

                    <p><button type="submit" class="btn-u">{% trans 'Enviar' %}</button></p>
                </form>
            </div><!--/col-md-9-->
        </div><!--/row-->
        
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock content %}
