{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}
<!-- CSS Page Style -->
<link rel="stylesheet" href="assets/css/pages/page_contact.css">
{% endblock extra_css %}

{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
    	<div class="container">
            <h1 class="pull-left">{% trans 'Como Solicitar' %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">{% trans "Tradução Juramentada" %}</a></li>
                <li class="active">{% trans 'Como Solicitar' %}</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row margin-bottom-40">
        	<div class="col-md-6 md-margin-bottom-40">
                <div class="headline"><h2>COMO SOLICITAR uma tradução juramentada?</h2></div>
                <p>{% trans 'Para fins de orçamento, envie um e-mail com o documento a ser traduzido digitalizado ou poderá entregá-lo pessoalmente. Entre em contato com a Tradutora pública ou preencha o formulário.' %}</p>
                <p>{% trans 'Assumimos o compromisso de enviar um orçamento detalhado para apreciação com a maior celeridade e sem nenhum compromisso.' %}</p>
            </div>

            <div class="col-md-9 mb-margin-bottom-30">
                <!-- Google Map -->
                <!--<div id="map" class="map map-box map-box-space margin-bottom-40"></div>-->
                <!-- End Google Map -->

                <h3>{% trans 'Orçamento Rápido' %}</h3><br />
                <form>
                    <label>{% trans 'Nome' %}</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <label>Email <span class="color-red">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <label>{% trans 'Descrição do documento' %}</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <textarea rows="10" class="form-control"></textarea>
                        </div>
                    </div>

                    <p><button type="submit" class="btn-u">{% trans 'Enviar' %}</button></p>
                </form>
            </div><!--/col-md-9-->
        </div><!--/row-->

        <!-- Our Clients -->
        <div id="clients-flexslider" class="flexslider home clients">
            <div class="headline"><h2>{% trans "Nossos Clientes" %}</h2></div>
            <ul class="slides">
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/impsa_wind.png' %}" alt="">
                        <img src="{% static 'img/clients/impsa_wind.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/subiton.png' %}" alt="">
                        <img src="{% static 'img/clients/subiton.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/albuquerquepinto.png' %}" alt="">
                        <img src="{% static 'img/clients/albuquerquepinto.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/banco_azteca.png' %}" alt="">
                        <img src="{% static 'img/clients/banco_azteca.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/rebeca_lucia.png' %}" alt="">
                        <img src="{% static 'img/clients/rebeca_lucia.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/cervantes.png' %}" alt="">
                        <img src="{% static 'img/clients/cervantes.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/fav.png' %}" alt="">
                        <img src="{% static 'img/clients/fav.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/gwwind_header.png' %}" alt="">
                        <img src="{% static 'img/clients/gwwind_header.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/bertolin.png' %}" alt="">
                        <img src="{% static 'img/clients/bertolin.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/iberdrola.png' %}" alt="">
                        <img src="{% static 'img/clients/iberdrola.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/queiroz_galvao.png' %}" alt="">
                        <img src="{% static 'img/clients/queiroz_galvao.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/serttel.png' %}" alt="">
                        <img src="{% static 'img/clients/serttel.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/pamesa.png' %}" alt="">
                        <img src="{% static 'img/clients/pamesa.png' %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'img/clients/tecon.png' %}" alt="">
                        <img src="{% static 'img/clients/tecon.png' %}" class="color-img" alt="">
                    </a>
                </li>
            </ul>
        </div><!--/flexslider-->
        <!-- End Our Clients -->
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>

{% endblock extra_js %}