{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}{% endblock extra_css %}
{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{% trans 'Consulados e links úteis' %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">{% trans "Início" %}</a></li>
                <li class="active">{% trans 'Consulados e links úteis' %}</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


 <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
        	<div class="col-md-9">
            	<div class="headline"><h2>{% trans 'Consulados' %}</h2></div>

                <!-- Consulado Block-->
                <div class="row clients-page">
                   <!-- <div class="col-md-2">
                        <img src="assets/img/clients/cisco.png" class="img-responsive hover-effect" alt="" />
                    </div>-->
                    <div class="col-md-10">
                        <h3>{% trans 'Consulado-Honorário da Espanha' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Rua Serinhaem, 105 - 2º andar, s.201/202 - Boa Viagem, Recife/PE</li>
                            <li><i class="fa  fa-envelope color-green"></i> <a class="linked" href="mailto:consulado.recife.es@gmail.com">consulado.recife.es@gmail.com</a></li>
                            <li><i class="fa fa-phone color-green"></i> (0xx81) 3465-7474</li>
                            <li>{% trans 'Expediente: Segundas e Terças das 8 às 11h' %}</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <!--<div class="col-md-2">
                        <img src="assets/img/clients/cisco.png" class="img-responsive hover-effect" alt="" />
                    </div>-->
                    <div class="col-md-10">
                        <h3>{% trans 'Consulado-Honorário do México' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Rua Aquidabã, 20 - Ap. 1401 - Boa Viagem, Recife ⁄PE</li>
                            <li><i class="fa  fa-envelope color-green"></i> <a class="linked" href="mailto:iaradubeux@yahoo.com.br">iaradubeux@yahoo.com.br</a></li>
                            <li><i class="fa fa-phone color-green"></i> (0xx81) 3083-1760 Fax: (0xx81) 3343-1430 </li>
                            <li>{% trans 'Expediente: das 09:00 às 11:00h e 13:30 às 15:30h' %}</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <!--<div class="col-md-2">
                        <img src="assets/img/clients/cisco.png" class="img-responsive hover-effect" alt="" />
                    </div>-->
                    <div class="col-md-10">
                        <h3>{% trans 'Consulado da Argentina' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Av. Domingos Ferreira, 2238 - Ed. Akka - 2o andar - Boa Viagem, Recife/PE</li>
                            <li><i class="fa fa-phone color-green"></i> (0xx81) 3131-9000 Fax: (0xx81) 3131-9002</li>
                            <li>Jurisdição: PE/AL/PB/RN/CE/PI/MA</li>
                            <li>{% trans 'Expediente: 9:00 às 13:00' %}</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Consulado Geral da República Bolivariana da Venezuela' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Av. Conselheiro Aguiar, 597, Boa Viagem, Recife/PE</li>
                            <li><i class="fa  fa-envelope color-green"></i> <a class="linked" href="mailto:conve.brrec@mppre.gob.ve">conve.brrec@mppre.gob.ve</a></li>
                            <li><i class="fa fa-phone color-green"></i> (81) 3131-8150 / 3327-0430 Fax: (81) 3327-0511</li>
                            <li><i class="fa fa-globe color-green"></i> <a href="http://recife.consulado.gob.ve">http://recife.consulado.gob.ve</a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Outros consulados estrangeiros no Brasil' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-globe color-green"></i> <a href="http://www.consulados.com.br/">http://www.consulados.com.br/</a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Outros consulados do Brasil no exterior' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-globe color-green"></i> <a href="http://www.portalconsular.mre.gov.br">http://www.portalconsular.mre.gov.br</a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <div class="headline"><h2>{% trans 'SLRC – Setor de Legalizações e Rede Consular Estrangeira' %}</h2></div>
                <h5>{% trans 'O serviço de legalização de documentos para fins exclusivos de produzir efeitos no exterior é prestado, em caráter voluntário e gratuito, pelo SLRC, em Brasília, e pelos Escritórios Regionais do MRE nos seguintes estados: Rio de Janeiro, Rio Grande do Sul, São Paulo, Paraná, Santa Catarina, Minas Gerais e Pernambuco' %}</h5>

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Escritório de Representação do MRE na Região Nordeste – ERENE' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Rua Antônio Lumack do Monte, Nº 128, Ed. Empresarial Center III 4° Andar, Sala 401, Boa Viagem, Recife/PE</li>
                            <li><i class="fa fa-phone color-green"></i> (0XX81) 3326-9978 / 3465-9915 e 3465-9088</li>
                            <li>{% trans 'Obs.: O ERENE legaliza somente documentos emitidos nos Estados de Alagoas, Sergipe, Pernambuco, Paraíba, Rio Grande do Norte, Ceará, Piauí e Maranhão.' %}</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <div class="headline"><h2>{% trans 'Cartórios para Reconhecimento de Firma da Tradutora' %}</h2></div>

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Cartório Andrade Lima - 1º Ofício de Notas do Recife' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Av. Agamenon Magalhães, 4407-A - Boa Vista, Recife/PE</li>
                            <li><i class="fa fa-phone color-green"></i> (81) 3131.7000</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Cartório Arnaldo Maciel – 5º Cartório de Notas da Capital' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> R Siqueira Campos, s/n - Santo Antônio, Recife/PE</li>
                            <li><i class="fa fa-phone color-green"></i> (81) 3035-6912 – 3224-9189</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Cartório João Roma – 6º Ofício de Notas da Capital' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> R. Eng. Ubaldo Gomes de Matos, 53 - Santo Antônio, Recife/PE</li>
                            <li><i class="fa fa-phone color-green"></i> (81) 3424-9292</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Cartório do Registro Civil da Boa Vista' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Rua Gervásio Pires, 79 - Boa Vista, Recife/PE</li>
                            <li><i class="fa fa-phone color-green"></i> (81) 3423-8407</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->

                <!-- Consulado Block-->
                <div class="row clients-page">
                    <div class="col-md-10">
                        <h3>{% trans 'Tabelionato Figueiredo – 8º Ofício de Notas do Recife' %}</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Avenida Herculano Bandeira, 563 - Pina, Recife/PE</li>
                            <li><i class="fa fa-phone color-green"></i> (81) 3463-3119</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Consulado Block-->


            </div><!--/col-md-9-->

        	<div class="col-md-3">
            	<!-- Our Services -->
                <div class="who margin-bottom-30">

                </div>
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->


{% endblock content %}

{% block extra_js %}{% endblock extra_js %}