{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}{% endblock extra_css %}
{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{% trans 'Consulados e links úteis' %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">{% trans "Início" %}</a></li>
                <li class="active">{% trans 'Consulados e links úteis' %}</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


 <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
        	<div class="col-md-9">
            	<div class="headline"><h2>{% trans 'Consulados' %}</h2></div>

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="assets/img/clients/cisco.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>Consulado-Honorário da Espanha</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker color-green"></i> Rua Serinhaem, 105 - 2º andar, s.201/202 - Boa Viagem, Recife/PE</li>
                            <li><i class="fa  fa-envelope color-green"></i> <a class="linked" href="mailto:consulado.recife.es@gmail.com">consulado.recife.es@gmail.com</a></li>
                            <li><i class="fa fa-phone color-green"></i> (0xx81) 3465-7474</li>
                            <li>{% trans 'Expediente: Segundas e Terças das 8 às 11h' %}</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="assets/img/clients/natural.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>Natural Green</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> Canada</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                            <li><i class="fa fa-briefcase color-green"></i> Logo Design &amp; Wordpress</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="assets/img/clients/cocacola.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>The Coca-Cola Company</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> USA</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                            <li><i class="fa fa-briefcase color-green"></i> Web Design &amp; Development</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                        <p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="assets/img/clients/gamescast.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>Game Cast TV</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> Europe</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                            <li><i class="fa fa-briefcase color-green"></i> Web Design &amp; HTML/CSS</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
                    </div>
                </div>
                <!-- End Clients Block-->

            </div><!--/col-md-9-->

        	<div class="col-md-3">
            	<!-- Our Services -->
                <div class="who margin-bottom-30">

                </div>
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->


{% endblock content %}

{% block extra_js %}{% endblock extra_js %}