{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}
<!-- CSS Page Style -->
<link rel="stylesheet" href="{% static 'css/pages/page_contact.css' %}">
{% endblock extra_css %}

{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{% trans 'Contato' %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
                <li class="active">{% trans 'Contato' %}</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
    <div class="container content">
        <div class="row margin-bottom-30">
            <div class="col-md-9 mb-margin-bottom-30">
                <!-- Google Map -->
                <!--<div id="map" class="map map-box map-box-space margin-bottom-40"></div>-->
                <!-- End Google Map -->

                <p>{% trans 'Estamos a disposição para esclarecer as suas dúvidas, receber suas solicitações e enviar nossa proposta de trabalho.' %}</p><br />
                <form method="POST" name="contato" action="{% url 'contato' %}">
                    {% csrf_token %}
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                    <label>{% trans 'Nome' %}</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control" name="nome" placeholder="Nome" title="Nome">
                        </div>
                    </div>

                    <label>Email <span class="color-red">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control" name="email" placeholder="Email" title="Email">
                        </div>
                    </div>

                    <label>{% trans 'Mensagem' %}</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            <textarea rows="8" class="form-control" name="mensagem" placeholder="Sua mensagem" title="Mensagem"></textarea>
                        </div>
                    </div>

                    <p><input type="submit" class="btn-u" /></p>
                </form>
            </div><!--/col-md-9-->

            <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>{% trans 'Contato' %}</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="mailto:andreabayle@gmail.com"><i class="fa fa-envelope"></i>andreabayle@gmail.com</a></li>
                    <li><i class="fa fa-phone"></i>(55-81) 3031-5491</li>
                    <li><i class="fa fa-mobile"></i>(55-81) 9444-8483/9680-1999</li>
                    <li><a href="http://www.juramentadarecife.com"><i class="fa fa-globe"></i>www.juramentadarecife.com</a></li>
                </ul>

                <!-- Business Hours -->
                <!--<div class="headline"><h2>{% trans 'Horário de Trabalho' %}</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                    <li><strong>Saturday:</strong> 11am to 3pm</li>
                    <li><strong>Sunday:</strong> Closed</li>
                </ul>-->

            </div><!--/col-md-3-->
        </div><!--/row-->
        <!-- Our Clients -->
        {% include 'includes/clients.html' %}
        <!-- End Our Clients -->
        
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>

{% endblock extra_js %}
