{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}
<!-- CSS Page Style -->
<link rel="stylesheet" href="assets/css/pages/page_faq1.css">
{% endblock extra_css %}

{% block content %}
<!--=== Breadcrumbs v2 ===-->
    <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
        <div class="breadcrumbs-v2-in">
            <h1>{% trans 'Dúvidas Frequentes' %}</h1>
            <ul class="breadcrumb-v2 list-inline">
                <li><a style="color:black;" href="{% url 'index' %}"><i class="rounded-x fa fa-angle-right"></i>{% trans "Tradução Juramentada" %}</a></li>
                <li class="active" style="color:black;"><i class="rounded-x fa fa-angle-right"></i>{% trans 'Dúvidas Frequentes' %}</li>
            </ul>
        </div>
    </div>
<!--=== End Breadcrumbs v2 ===-->

<!--=== FAQ Page ===-->
    <div class="container content faq-page">
        <!-- FAQ Content -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <!-- Begin Tab v1 -->
            <div class="col-md-8">
                <div class="tab-v1">
                    <div class="tab-content">
                        <!-- Tab Content 1 -->
                        <div id="home" class="tab-pane fade in active">
                            <div id="accordion-v1" class="panel-group acc-v1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-One" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'Quais são os documentos que exigem tradução juramentada?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-One">
                                        <div class="panel-body">
                                            {% trans 'Alguns órgãos ou repartições do Governo ou empresas particulares, como os estabelecimentos de ensino, exigem a tradução juramentada de documentos em língua estrangeira. Se o documento em língua estrangeira tiver que ser apresentado à Justiça brasileira ou protocolado em Cartórios de Títulos e Documentos ou em outros tipos de cartório, terá que ter obrigatoriamente anexada a tradução juramentada. Os documentos que comumente exigem tradução juramentada são: carteira de habilitação, passaporte, documento de identidade, certidão de nascimento, casamento e óbito, documentos escolares (certificados de 1º e 2º Graus, diplomas universitários e históricos escolares), certificados de origem, atas, contratos, balanços, autos de processos judiciais, procurações, sentenças, antecedentes penais, declaração de estado civil, documentação para licitações públicas, etc.' %}
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-Two" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'A tradução juramentada é válida no Brasil todo?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Two">
                                        <div class="panel-body">
                                            {% trans 'Sim, a tradução juramentada tem validade em todo o território nacional, apesar dos tradutores juramentados estarem lotados e subordinados à Junta Comercial do estado onde residem.' %}
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-Three" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'O Tradutor Público pode oferecer descontos?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Three">
                                        <div class="panel-body">
                                            {% trans 'De acordo com as leis e resoluções que regem o exercício do ofício, não é lícito ao tradutor juramentado praticar o ágio ou conceder descontos em benefício de quem quer que seja, sendo passível de multas e penalidades.' %}
                                            <blockquote class="text-right bq-green">
                                                <h5>{% trans 'DECRETO Nº 13.609, DE 21 DE OUTUBRO DE 1943. - Art. 35' %}</h5>
                                                <p><em>{% trans '"Parágrafo único.- Não é lícito aos tradutores abater, em benefício de quem quer que seja, os emolumentos que lhes forem fixados na mesma tabela, sob pena de multa elevada ao dobro na reincidência, cabendo-lhes anotar no final de cada tradução o total dos emolumentos e selos cobrados".' %}</em></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-Four" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'O que é consularização?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Four">
                                        <div class="panel-body">
                                            {% trans 'A consularização (ou legalização consular) é um endosso de autoridade diplomática brasileira ' %}
                                            <strong>{% trans 'no país em que foi emitido um documento,' %}</strong>
                                            {% trans 'para legitimá-lo. Geralmente, é feita em português, em documento apenso ao documento assinado e deve ser providenciada antes da tradução juramentada. Consulte com o consulado ou embaixada mais próxima no site do Ministério de Relações Exteriores: ' %}
                                            <a href="http://www.portalconsular.mre.gov.br/" target="_blank">http://www.portalconsular.mre.gov.br/</a>.
                                            <blockquote class="text-right bq-green">
                                                <h5>{% trans 'Itamaraty MRE - Portal Consular:' %}</h5>
                                                <p><em>{% trans '“O Brasil não é signatário da Apostila da Convenção da Haia. Assim, para produzir efeitos legais no Brasil, os documentos emitidos em países estrangeiros devem ser legalizados, unicamente, junto às Repartições Consulares do Ministério das Relações Exteriores (MRE) no exterior. O Ministério das Relações Exteriores em Brasília, bem como seus Escritórios Regionais em alguns Estados brasileiros, não têm competência para efetuar legalização em documentos emitidos em países estrangeiros”. ' %}</em></p>
                                            </blockquote>
                                            <blockquote class="text-right bq-green">
                                                <h5>{% trans 'Acordo Internacional Bilateral sobre Legalização de Documentos Brasil – Argentina' %}</h5>
                                                <p><em>{% trans '"Acordo, por troca de Notas, sobre Simplificação de Legalizações em Documentos Públicos, de 16/10/2003, publicado no D.O.U. de 23/04/2004. O Acordo, que não prevê a isenção total de legalização, estabelece que os documentos públicos originados em ambos os países, para terem validade no território do outro, devem ser legalizados apenas pelos respectivos Ministérios das Relações Exteriores, não havendo necessidade de serem submetidos à legalização consular".' %}</em></p>
                                            </blockquote>
                                            <a href="http://www.portalconsular.mre.gov.br/legalizacao-de-documentos/documentos-emitidos-no-brasil#5._Acordos_internacionais_sobre_legaliza__o_de_documentos" target="_blank">http://www.portalconsular.mre.gov.br/legalizacao-de-documentos/documentos-emitidos-no-brasil#5._Acordos_internacionais_sobre_legaliza__o_de_documentos</a> <br/>
                                            <a href="https://www.mrecic.gov.ar/node/30474" target="_blank">https://www.mrecic.gov.ar/node/30474</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-Five" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'As traduções juramentadas feitas no Brasil são aceitas no exterior?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Five">
                                        <div class="panel-body">
                                            {% trans 'Sim, na maioria dos países da América Latina e na Espanha. No entanto, devemos considerar que cada país possui seus próprios procedimentos de legalização; por esta razão é de suma importância consultar, com a representação consular correspondente e a entidade destinatária dos seus documentos, sobre os requisitos exigidos e diligências necessárias antes de encomendar uma tradução juramentada.' %}
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-Six" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'Há necessidade de reconhecimento de firma do tradutor juramentado?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Six">
                                        <div class="panel-body">
                                            {% trans 'Teoricamente não, posto que O Tradutor Juramentado, por lei, tem fé pública em todo o território nacional. Ao assinar uma tradução pública, afirma, perante a lei e a sociedade, que o conteúdo traduzido está correto e em conformidade com as práticas de linguagem entre as duas línguas e as duas culturas envolvidas no processo tradutório em questão.' %}
                                            <blockquote class="text-right bq-green">
                                                <h5>{% trans 'Decreto 13.609 de 21⁄10⁄43, III, Art. 20. ' %}</h5>
                                                <p><em>{% trans '“Os tradutores públicos e intérpretes comerciais terão jurisdição em todo o território do Estado em que forem nomeados ou no Distrito Federal quando nomeados pelo Presidente da República. Entretanto, terão fé pública em todo o país as traduções por eles feitas e as certidões que passarem”.' %}</em></p>
                                            </blockquote>
                                            {% trans 'No entanto, se a tradução juramentada estiver destinada a um pais de idioma espanhol, as exigências podem variar de um país para outro e o reconhecimento de firma poderá ser complementado com a legalização do Ministério de Relações Exteriores e a consularização no Consulado do país destinatário da tradução. Informações a respeito podem ser obtidas no consulado respectivo.' %}
                                            </br>
                                            </br>
                                            <p><a href="{% url 'consulados' %}"> {% trans 'RELAÇÃO DE CONSULADOS E CARTÓRIOS PARA RECONHECIMENTO DE FIRMA DA TRADUTORA ANDREA BAYLÉ' %} </a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-Seven" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'Como faço para solicitar uma tradução juramentada?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Seven">
                                        <div class="panel-body">
                                            {% trans 'Entre em contato com a Tradutora Pública Andrea Baylé pelo chat, por telefone, e-mail ou através do formulário disponível no site e receberá informação detalhada sobre o procedimento a ser seguido.' %}
                                            <p>{% trans 'Clique ' %}<a href="{% url 'como_solicitar' %}">{% trans 'aqui' %}</a>{% trans ' para solicitar sua tradução.' %}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse-Eight" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                {% trans 'Posso solicitar a emissão de uma segunda via da tradução juramentada?' %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Eight">
                                        <div class="panel-body">
                                            {% trans 'Sim, o cliente pode solicitar uma ou várias cópias autenticadas, junto com a tradução ou versão ou posteriormente. Os valores cobrados por este serviço seguem a Tabela de Emolumentos da Junta Comercial de cada estado, em Pernambuco cobra-se 20%% dos emolumentos devidos pelo serviço original, pelas cópias fornecidas simultaneamente com a tradução, e um 50%% por traslado autenticado, posteriormente fornecido.' %}
                                            <br />{% trans 'Resolução JUCEPE Nº 02 de 25 de agosto de 2011, Arts. 3º e 4º.' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tab Content 1 -->
                    </div>
                </div>
            </div><!--/col-md-6-->
            <!--End Tab v1-->
        </div>
        <!-- End FAQ Content -->

        <!-- Our Clients -->
        {% include 'includes/clients.html' %}
        <!-- End Our Clients -->
    </div><!--/container-->
    <!--=== End FAQ Page ===-->

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>

{% endblock extra_js %}