{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}

    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>ANDREA BAYLÉ</i> <br /> <i>TRADUÇÕES</i> <br /> <i>OFICIAIS</i></h2>
                <p><i>{% trans "Português – Espanhol" %}</i> <br /> <i>{% trans "Espanhol – Português" %}</i></p>
                <div class="da-img"><img class="img-responsive" src="{% static 'img/logo_andrea.png' %}" alt="logo"></div>
            </div>
            <div class="da-slide">
                <h2><i>{% trans "Serviços de tradução" %}</i> <br /> <i>{% trans "para pessoas físicas" %}</i> <br /> <i>{% trans "e jurídicas" %}</i></h2>
                <p><i>{% trans "Válidas em todo o Brasil" %}</i> <br /> <i>{% trans "e no Exterior" %}</i></p>

                <!--<div class="da-img">-->
                    <!--<iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
                <!--</div>-->
            </div>
            <!--<div class="da-slide">
                <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
                <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
                <div class="da-img"><img src="{% static 'plugins/parallax-slider/img/html5andcss3.png' %}" alt="image01" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>-->
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>{% trans "Andrea Baylé - Traduções Juramentadas" %}</span>
                    <p>{% trans "Oferecemos serviços de tradução pública a pessoas físicas ou jurídicas, traduções oficiais válidas em todo o Brasil e no exterior, de documentos que tenham o idioma espanhol ou português como língua de partida ou de chegada. Feitas por uma Tradutora Juramentada, concursada, com ampla experiência e qualificação." %}</p>
                </div>
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="{% url 'saiba_mais' %}" class="btn-u btn-u-lg"><i class="fa fa-plus-square"></i>{% trans "Saiba Mais" %}</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->

    <div class="container content">
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-gavel service-icon"></i>
        			<div class="desc">
        				<h4>{% trans 'O qué é tradução juramentada?' %}</h4>
                        <p>{% trans 'Tradução Juramentada é a tradução feita por um Tradutor Público concursado e habilitado pela Junta Comercial do seu Estado, de um documento oficial que precise produzir efeitos legais no Brasil ou no exterior. ' %}<a href="{% url 'traducao_juramentada' %}">{% trans 'Saiba mais'%}</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-usd service-icon"></i>
        			<div class="desc">
        				<h4>{% trans 'Quanto custa uma tradução juramentada?' %}</h4>
                        <p>{% trans 'O custo da tradução juramentada é calculado com base em Tabela de Emolumentos homologada pelas Juntas Comerciais dos Estados. ' %}<a href="{% url 'quanto_custa' %}">{% trans 'Saiba mais'%}</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-comment service-icon"></i>
        			<div class="desc">
        				<h4>{% trans 'Como solicitar uma tradução juramentada?' %}</h4>
                        <p>{% trans 'Entre em contato com a Tradutora Pública Andrea Baylé e peça um orçamento. Clique ' %}<a href="{% url 'como_solicitar' %}">{% trans 'aqui'%}</a>.</p>
        			</div>
        		</div>
        	</div>
    	</div>
    	<!-- End Service Blokcs -->

    	<!-- Recent Works -->
        <div class="headline"><h2>{% trans 'Nossos Serviços' %}</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                	<div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/empresas.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">{% trans 'EMPRESAS' %}</a></h3>
                        <ul>
                            <li>{% trans 'CONTRATOS' %}</li>
                            <li>{% trans 'ESCRITURAS DE CONSTITUIÇÃO' %}</li>
                            <li>{% trans 'PROCURAÇÕES' %}</li>
                            <li>{% trans 'BALANÇOS' %}</li>
                            <li>{% trans 'LICITAÇÕES PÚBLICAS' %}</li>
                            <li>{% trans 'Etc.' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/casamentos.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">CASAMENTOS</a></h3>
                        <ul>
                            <li>{% trans 'CERTIDÃO DE CASAMENTO' %}</li>
                            <li>{% trans 'AVERBAÇÃO DE DIVÓRCIO' %}</li>
                            <li>{% trans 'DECLARAÇÃO DE ESTADO CIVIL' %}</li>
                            <li>{% trans 'ANTECEDENTES PENAIS' %}</li>
                            <li>{% trans 'Etc...' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/internacionais.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">{% trans 'ESTUDOS INTERNACIONAIS' %}</a></h3>
                        <ul>
                            <li>{% trans 'HISTÓRICOS ESCOLARES' %}</li>
                            <li>{% trans 'DIPLOMA UNIVERSITÁRIO' %}</li>
                            <li>{% trans 'DECLARAÇÕES' %}</li>
                            <li>{% trans 'HOMOLOGAÇÃO DE ESTUDOS' %}</li>
                            <li>{% trans 'Etc...' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/documentos.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">{% trans 'DOCUMENTAÇÃO PESSOAL' %}</a></h3>
                        <ul>
                            <li>{% trans 'CARTEIRA DE IDENTIDADE' %}</li>
                            <li>{% trans 'CARTEIRA DE MOTORISTA' %}</li>
                            <li>{% trans 'PASSAPORTE' %}</li>
                            <li>{% trans 'CARTEIRA DE IDENTIDADE PROFISSIONAL' %}</li>
                            <li>{% trans 'CERTIDÃO DE NASCIMENTO' %}</li>
                            <li>{% trans 'Etc...' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    	<!-- End Recent Works -->

    	<!-- Info Blokcs -->
    	<!--<div class="row margin-bottom-30">
        	&lt;!&ndash; Welcome Block &ndash;&gt;
    		<div class="col-md-8 md-margin-bottom-40">
    			<div class="headline"><h2>Welcome To Unify</h2></div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive margin-bottom-20" src="{% static 'img/main/21.jpg' %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                        </ul>
                    </div>
                </div>

                <blockquote class="hero-unify">
                    <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                    <small>CEO, Jack Bour</small>
                </blockquote>
            </div>&lt;!&ndash;/col-md-8&ndash;&gt;

            &lt;!&ndash; Latest Shots &ndash;&gt;
            <div class="col-md-4">
    			<div class="headline"><h2>Latest Shots</h2></div>
    			<div id="myCarousel" class="carousel slide carousel-v1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'img/main/23.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/main/22.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                            </div>
                            </div>
                        <div class="item">
                            <img src="{% static 'img/main/24.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
    			</div>
            </div>&lt;!&ndash;/col-md-4&ndash;&gt;
    	</div>-->
    	<!-- End Info Blokcs -->

        <!-- Our Clients -->
        {% include 'includes/clients.html' %}
        <!-- End Our Clients -->
    </div><!--/container-->
    <!-- End Content Part -->

{% endblock content %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'plugins/parallax-slider/js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/parallax-slider/js/jquery.cslider.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'plugins/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>-->

<!-- JS Page Level-->
<!--<script type="text/javascript" src="{% static 'js/plugins/revolution-slider.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/plugins/parallax-slider.js' %}"></script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initSliders();
            ParallaxSlider.initParallaxSlider();

        });
</script>
<!--RevolutionSlider.initRSfullScreen();-->
<!--[if lt IE 9]>
    <script src="{% static 'plugins/respond.js' %}"></script>
    <script src="{% static 'plugins/html5shiv.js' %}"></script>
<![endif]-->
{% endblock extra_js %}