{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}

    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide first-slide">
                <h2><i>{% trans "TRADUÇÕES" %}</i><br/> <i>{% trans "OFICIAIS" %}</i> <br /> <i>{% trans "Português <> Espanhol" %}</i> <!--<br /> <i>{% trans "Espanhol – Português" %}</i>--> </h2>
                <!--<p><i>{% trans "Português – Espanhol" %}</i> <br /> <i>{% trans "Espanhol – Português" %}</i></p>-->
                <p><a href="{% url 'como_solicitar' %}"><button class="btn-u btn-u-dark rounded" type="button"><i class="fa fa-chevron-right"></i>{% trans "SOLICITE JÁ SEU ORÇAMENTO" %}</button></a></p>
                <!--<p><i>{% trans "Solicite " %}<a href="{% url 'como_solicitar' %}">{% trans 'aqui'%}</a>{% trans " o seu orçamento." %}</i></p>-->
                <div class="da-img"><img class="img-responsive" src="{% static 'img/Logo Andrea Bayle gr.png' %}" alt="logo"></div>
            </div>
            <div class="da-slide">
                <h2><i>{% trans "Tradução juramentada" %}</i> <br /> <i>{% trans "para pessoas físicas" %}</i> <br /> <i>{% trans "e jurídicas" %}</i></h2>
                <p><i>{% trans "Válidas em todo o Brasil" %}</i> <br /> <i>{% trans "e no Exterior" %}</i></p>

                <!--<div class="da-img">-->
                    <!--<iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
                <!--</div>-->
            </div>
            <!--<div class="da-slide">
                <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
                <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
                <div class="da-img"><img src="{% static 'plugins/parallax-slider/img/html5andcss3.png' %}" alt="image01" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>-->
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>{% trans "Andrea Baylé - Traduções Juramentadas" %}</span>
                    <p>{% trans "Oferecemos serviços de tradução pública a pessoas físicas ou jurídicas, traduções oficiais válidas em todo o Brasil e no exterior, de documentos que tenham o idioma espanhol ou português como língua de partida ou de chegada. Feitas por uma Tradutora Juramentada, concursada, com ampla experiência e qualificação." %}</p><br />
                    <p>{% trans "O atendimento personalizado, localização adequada do texto, padronização terminológica, agilidade na execução do serviço, pontualidade na entrega e absoluto sigilo, são as principais caraterísticas do nosso trabalho. Nosso diferencial garante um serviço preciso e de qualidade, deixando os nossos clientes muito satisfeitos com o resultado." %}</p>
                </div>
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="{% url 'saiba_mais' %}" class="btn-u btn-u-lg"><i class="fa fa-chevron-right"></i>{% trans "SAIBA MAIS" %}</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->

    <div class="container content">
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-gavel service-icon"></i>
        			<div class="desc">
        				<h4>{% trans 'O que é tradução juramentada?' %}</h4>
                        <p>{% trans 'Tradução Juramentada é um tipo especial de tradução feita por um Tradutor Público concursado e habilitado pela Junta Comercial do seu Estado, de um documento oficial que precise produzir efeitos legais no Brasil ou no exterior. ' %}<a href="{% url 'traducao_juramentada' %}"><br />{% trans 'Saiba mais'%}</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-usd service-icon"></i>
        			<div class="desc">
        				<h4>{% trans 'Quanto custa uma tradução juramentada?' %}</h4>
                        <p>{% trans 'O custo da tradução juramentada é calculado com base na Tabela de Emolumentos oficial, homologada pela Junta Comercial de Pernambuco e publicada no DOE, a qual deve ser seguida por todos os tradutores nomeados pela JUCEPE, sob pena de sanções e anulação da tradução. ' %}<br /><a href="{% url 'quanto_custa' %}">{% trans 'Saiba mais'%}</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-comment service-icon"></i>
        			<div class="desc">
        				<h4>{% trans 'Como solicitar uma tradução juramentada?' %}</h4>
                        <p>{% trans 'Entre em contato com a Tradutora Pública Andrea Baylé e peça um orçamento. Receberá prontamente uma resposta com a nossa proposta detalhada. Clique ' %}<a href="{% url 'como_solicitar' %}">{% trans 'aqui'%}</a>.</p>
        			</div>
        		</div>
        	</div>
            <!--<div class="col-md-3">
                <div class="service">
                    <form action="{% url 'set_language' %}" method="post">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ redirect_to }}" />
                      <input name="language" type="hidden" value="es-ar" />
                      <input type="submit" value="Espanhol" />
                    </form>

                    &lt;!&ndash;<form name="form-language" action="{% url 'set_language' %}" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go" />
                    </form>&ndash;&gt;

                </div>
            </div>-->
    	</div>
    	<!-- End Service Blokcs -->

    	<!-- Recent Works -->
        <div class="headline"><h2>{% trans 'Nossos Serviços' %}</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                	<div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/empresas.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">{% trans 'EMPRESAS' %}</a></h3>
                        <ul>
                            <li>{% trans 'CONTRATOS' %}</li>
                            <li>{% trans 'ESCRITURAS DE CONSTITUIÇÃO' %}</li>
                            <li>{% trans 'PROCURAÇÕES' %}</li>
                            <li>{% trans 'BALANÇOS' %}</li>
                            <li>{% trans 'LICITAÇÕES PÚBLICAS' %}</li>
                            <li>{% trans 'Etc.' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/casamentos.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">CASAMENTOS</a></h3>
                        <ul>
                            <li>{% trans 'CERTIDÃO DE CASAMENTO' %}</li>
                            <li>{% trans 'SENTENÇA JUDICIAL (DIVÓRCIO, SEPARAÇÃO)' %}</li>
                            <li>{% trans 'DECLARAÇÃO DE ESTADO CIVIL' %}</li>
                            <li>{% trans 'ANTECEDENTES PENAIS' %}</li>
                            <li>{% trans 'Etc...' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/internacionais.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">{% trans 'ESTUDOS INTERNACIONAIS' %}</a></h3>
                        <ul>
                            <li>{% trans 'HISTÓRICOS ESCOLARES' %}</li>
                            <li>{% trans 'DIPLOMA UNIVERSITÁRIO' %}</li>
                            <li>{% trans 'DECLARAÇÕES' %}</li>
                            <li>{% trans 'HOMOLOGAÇÃO DE ESTUDOS' %}</li>
                            <li>{% trans 'Etc...' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{% static 'img/documentos.jpg' %}" alt="">
                        </div>
                        <!--<a class="btn-more hover-effect" href="#">read more +</a>-->
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">{% trans 'DOCUMENTAÇÃO PESSOAL' %}</a></h3>
                        <ul>
                            <li>{% trans 'CARTEIRA DE IDENTIDADE' %}</li>
                            <li>{% trans 'CARTEIRA DE MOTORISTA' %}</li>
                            <li>{% trans 'PASSAPORTE' %}</li>
                            <li>{% trans 'CARTEIRA DE IDENTIDADE PROFISSIONAL' %}</li>
                            <li>{% trans 'CERTIDÃO DE NASCIMENTO' %}</li>
                            <li>{% trans 'Etc...' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    	<!-- End Recent Works -->

        <!-- Our Clients -->
        {% include 'includes/clients.html' %}
        <!-- End Our Clients -->
    </div><!--/container-->
    <!-- End Content Part -->

{% endblock content %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'plugins/parallax-slider/js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/parallax-slider/js/jquery.cslider.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'plugins/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>-->

<!-- JS Page Level-->
<!--<script type="text/javascript" src="{% static 'js/plugins/revolution-slider.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/plugins/parallax-slider.js' %}"></script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initSliders();
            ParallaxSlider.initParallaxSlider();

        });
</script>
<!--RevolutionSlider.initRSfullScreen();-->
<!--[if lt IE 9]>
    <script src="{% static 'plugins/respond.js' %}"></script>
    <script src="{% static 'plugins/html5shiv.js' %}"></script>
<![endif]-->
{% endblock extra_js %}