{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}
<!-- CSS Page Style -->
<link rel="stylesheet" href="{% static 'css/pages/page_pricing.css' %}">
{% endblock extra_css %}

{% block content %}

<!--=== Breadcrumbs ===-->
    <!--<div class="breadcrumbs">
    	<div class="container">
            <h1 class="pull-left">{% trans "Quanto custa" %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">{% trans "Tradução Juramentada" %}</a></li>
                <li class="active">{% trans "Quanto custa" %}</li>
            </ul>
        </div>&lt;!&ndash;/container&ndash;&gt;
    </div>--><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

<!--=== Breadcrumbs v2 ===-->
    <div class="breadcrumbs-v2 quanto faq-breadcrumb margin-bottom-20">
        <div class="breadcrumbs-v2-in">
            <h1>{% trans 'Quanto custa' %}</h1>
            <ul class="breadcrumb-v2 list-inline">
                <li><a style="color:black;" href="{% url 'index' %}"><i class="rounded-x fa fa-angle-right"></i>{% trans "Tradução Juramentada" %}</a></li>
                <li class="active" style="color:black;"><i class="rounded-x fa fa-angle-right"></i>{% trans 'Quanto custa' %}</li>
            </ul>
        </div>
    </div>
<!--=== End Breadcrumbs v2 ===-->

<!--=== Content Part ===-->
    <div class="container content">
    	<div class="row margin-bottom-40">
            <div class="col-md-2 md-margin-bottom-40">
            </div>
        	<div class="col-md-8 md-margin-bottom-40">
                <div class="headline"><h2>QUANTO CUSTA uma tradução juramentada?</h2></div>
                <p>{% trans "O valor da tradução juramentada é determinado por tabela de emolumentos, aprovada e divulgada pelas juntas comerciais no seu Diário Oficial, a qual o Tradutor Público é obrigado a seguir por lei. Atualmente em Pernambuco rege a tabela oficial publicada na Resolução JUCEPE Nº 02 de 25 de agosto de 2011, atualizada pela Resolução JUCEPE Nº 001 de 14 de agosto de 2012." %}</p>
                <p>{% trans 'Esses preços variam de acordo com:' %}</p>
                    <div class="content-boxes-in-v3">
                        <h3><a href="#"> {% trans 'Tipo de documento' %}</a></h3>
                        <ul class="list-unstyled">
                            <li><i class="color-green fa fa-check"></i><span style="text-decoration: underline;"><strong> {% trans 'Textos Comuns' %} </strong></span> {% trans ": passaportes, certidões de registro civil, carteiras de identidade, de habilitação profissional e documentos similares, inclusive cartas pessoais que não envolvam textos jurídicos, técnicos ou científicos." %}</li>
                            <li><i class="color-green fa fa-check"></i><span style="text-decoration: underline;"><strong> {% trans 'Textos Especiais' %} </strong></span> {% trans ": jurídicos, técnicos, científicos, comerciais, inclusive bancários e contábeis, certificados e diplomas escolares. " %}</li>
                        </ul>
                    </div>

                    <div class="content-boxes-in-v3">
                        <h3><a href="#"> {% trans 'Tamanho do documento' %}</a></h3>
                        <p>{% trans 'O valor da tradução depende da quantidade de texto do documento.' %}</p>
                        <p><span style="text-decoration: underline;">{% trans 'Exemplo' %}</span> {% trans ": Uma certidão de nascimento ou de casamento do Brasil, que em português ocupa uma única página, ao ser traduzida pode chegar a ter entre 2 e 3 laudas juramentadas. Já uma certidão de nascimento, de casamento ou de óbito estrangeira, apesar de em espanhol ocupar uma página ou duas, ao ser traduzida pode ocupar até 5 laudas juramentadas. Isto ocorre porque muitas vezes o documento contém texto em letra muito pequena, carimbos, assinaturas, selos, consularizações, autenticações que são traduzidos e mencionados na tradução juramentada, por este motivo o orçamento baseia-se na quantidade de texto e não no número de páginas do documento original." %}</p>
                    </div>

                    <div class="content-boxes-in-v3">
                        <h3><a href="#"> {% trans 'Prazo de entrega' %}</a></h3>
                        <p>{% trans 'O prazo para a entrega varia de acordo com alguns fatores como:' %}</p>
                        <ul class="list-unstyled">
                            <li><i class="color-green fa fa-check"></i><strong>{% trans 'Tamanho do documento' %} </strong></li>
                            <li><i class="color-green fa fa-check"></i><strong>{% trans 'Urgência do cliente' %} </strong><p>{% trans 'Resolução Nº 02 – JUCEPE Art. 10 § 1 e 2: Será cobrado um acréscimo de 50% (cinquenta por cento) para os serviços urgentes e de 100% para serviços extraordinários (sábados, domingos, feriados e pontos facultativos)' %}</p></li>
                            <li><i class="color-green fa fa-check"></i><strong>{% trans 'Volume de entregas já agendadas com outros clientes' %}</strong> </li>
                        </ul>
                    </div>

            </div>


        	<!--<div class="col-md-6 md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="{% static 'img/main/quanto_custa.jpg' %}" alt="moedas">
                </div>
            </div>-->
        </div><!--/row-->

        <div class="heading heading-v1 margin-bottom-20">
            <h2>{% trans 'Tabela de preços'%}</h2>
            <p>{% trans 'Preços obrigatórios determinados por Resolução JUCEPE nº 001 de 14 de agosto de 2012' %}</p>
        </div>

        <!-- Pricing Mega v1 -->
        <div class="row no-space-pricing pricing-mega-v1">
            <div class="col-md-2 col-sm-6 block">

            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="pricing hidden-area">
                    <div class="pricing-head ">

                    </div>
                    <ul  class="pricing-content list-unstyled">
                        <li class="bg-color">

                        </li>
                        <li class="bg-color">
                            <i class="fa fa-inbox"></i> {% trans 'Documentos comuns' %}
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-gavel"></i>{% trans 'Documentos especiais' %}
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            {% trans 'Tradução' %}
                            <span><strong> {% trans 'Espanhol para Português' %}</strong></span>
                            <p>{% trans '(por lauda de 1.000 caracteres sem espaços)' %}</p>
                        </h3>
                        <!--<h4 class="price">-->
                            <!--<span><strong> {% trans 'Espanhol para Português' %}</strong></span>-->
                            <!--<p>{% trans '(por lauda de 1.000 caracteres sem espaços)' %}</p>-->
                            <!--<span class="hidden-md hidden-lg"></span>-->
                        <!--</h4>-->
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            <strong> R$ 55,00</strong>
                            <span class="hidden-md hidden-lg">{% trans 'DOCUMENTOS COMUNS' %}</span>
                        </li>
                        <li>
                            <strong> R$ 60,00</strong><span class="hidden-md hidden-lg">{% trans 'Documentos especiais' %}</span>
                        </li>
                    </ul>
                    <div class="btn-group btn-group-justified">
                        <a href="{% url 'como_solicitar' %}">
                        <button type="button" class="btn-u btn-block ">
                            <i class="fa fa-hand-o-right"></i>
                            {% trans 'Peça seu orçamento' %}
                        </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            {% trans 'Versão' %}
                            <span><strong> {% trans 'Português para Espanhol' %}</strong></span>
                            <p>{% trans '(por lauda de 1.000 caracteres sem espaços)' %}</p>
                        </h3>
                        <!--<h4 class="price">-->
                            <!---->
                            <!--<span class="hidden-md hidden-lg"></span>-->
                        <!--</h4>-->
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            <strong> R$ 60,00</strong>
                            <span class="hidden-md hidden-lg">{% trans 'Documentos comuns' %}</span>
                        </li>
                        <li>
                            <strong> R$ 70,00</strong><span class="hidden-md hidden-lg">{% trans 'Documentos especiais' %}</span>
                        </li>
                    </ul>
                    <div class="btn-group btn-group-justified">
                        <a href="{% url 'como_solicitar' %}">
                        <button type="button" class="btn-u btn-block ">
                            <i class="fa fa-hand-o-right"></i>
                            {% trans 'Peça seu orçamento' %}
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pricing Mega v1 -->
        <!-- Our Clients -->
        {% include 'includes/clients.html' %}
        <!-- End Our Clients -->
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29166220-1']);
  _gaq.push(['_setDomainName', 'htmlstream.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% endblock extra_js %}