{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block extra_css %}

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{% static 'css/pages/portfolio-v2.css' %}">

{% endblock extra_css %}

{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{% trans "Saiba Mais" %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
                <li class="active">{% trans "Saiba Mais" %}</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

    <!--=== About Me Img ===-->
    <div class="container content">
        <div class="row about-me margin-bottom-10">
            <div class="col-md-3 shadow-wrapper md-margin-bottom-20">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="{% static 'img/main/saiba_mais02.JPG' %}" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>ANDREA VIVIANA BAYLÉ DE OLIVEIRA</h2>
                        <span>{% trans "Tradutora Pública e Intérprete Comercial de Espanhol" %}</span>
                    </div>
                    <ul class="social-icons pull-right">
                        <li><a class="rounded-x social_facebook" target="_blank" data-original-title="Facebook" href="https://www.facebook.com/pages/Andrea-Bayl%C3%A9-Tradu%C3%A7%C3%B5es-Juramentadas/634420899904641?ref=hl"></a></li>
                        <li><a class="rounded-x social_googleplus" target="_blank" data-original-title="Google Plus" href="https://plus.google.com/u/0/105537593069876746935/posts"></a></li>
                        <li><a class="rounded-x social_linkedin" target="_blank" data-original-title="Linkedin" href="http://br.linkedin.com/in/andreabayle"></a></li>
                    </ul>
                </div>
                <p>{% trans 'Todas as traduções juramentadas, entre os idiomas espanhol e português, são feitas pessoalmente pela Profª Andrea Baylé, Tradutora Pública e Intérprete Comercial, habilitada por concurso público promovido pela Junta Comercial do Estado de Pernambuco – JUCEPE em 2011, com Matricula nº 415∕2012.' %}</p>
                <p>{% trans 'Argentina de nascimento e naturalizada brasileira, mora no Brasil há 26 anos. Ela é Licenciada em Letras Português e Pós-graduada em Tradução de Espanhol, obteve o Certificado de Proficiência em Língua Portuguesa para Estrangeiros Celpe-Bras, desenvolvido e outorgado pelo Ministério da Educação do Brasil (MEC), nível superior, em 2008. Trabalhou como professora de Espanhol em renomadas escolas de idiomas por quinze anos, até a chegada em Recife do Instituto Cervantes em 2008, do qual foi a primeira professora colaboradora contratada, instituição onde, até a presente data, ministra aulas e participa como examinadora nas bancas do exame DELE (Diploma de Espanhol Língua Estrangeira), aplicado pelo Instituto Cervantes em nome do Ministério da Educação, Cultura e Esporte da Espanha.' %} </p>
                <p>{% trans 'Atuou também como palestrante convidada em diversos eventos, entre eles podemos citar o Curso de Atualização para Professores de Espanhol, organizado pela Consejería de Educación em conjunto com a SEDUC-PE (<em>"La Diversidad Cultural del Mundo Hispano"</em>), na <em>Semana de la Hispanidad</em> no Instituto Cervantes de Recife e na Universidade Católica de Pernambuco – UNICAP (<em>"Voces Afroargentinas"</em>), e ultimamente, na Tertúlia Literária do Instituto Cervantes de Recife com a comunicação <em>"Todo lo que le gustaría saber sobre la Traducción Pública"</em>.' %}</p>
                <!--<p>{% trans "Tradutora com ampla experiência nas áreas:" %}</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> {% trans "Jurídica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Acadêmica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Médica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Farmacêutica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Comercial" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Administrativa" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Contábil" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Outros" %}</li>
                </ul>-->
                <p>{% trans 'Profissional altamente capacitada, tem mais de dez anos de experiência na área de tradução técnica. Com o objetivo de oferecer trabalhos do mais alto nível, com exatidão e precisão na tradução da terminologia jurídica e técnica, participa com regularidade de diversos cursos de atualização em tradução especializada, como por exemplo a <em>"Tercera Jornada de Traducción Jurídica"</em> no Colegio de Tradutores Públicos de Buenos Aires, na República Argentina e no curso de Terminologia Jurídica <em>"El Derecho Procesal Civil - Semejanzas y Diferencias entre los Sistemas Brasileño y Uruguayo"</em> organizado pelo Colegio de Tradutores Públicos de Uruguai, na cidade de Montevidéu.' %}</p>
                <p>{% trans "Seu profissionalismo, compromisso e cordialidade no atendimento são os diferenciais que garantem sempre a satisfação do cliente com o serviço prestado." %}</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!--=== End About Me Img ===-->

    <div class="container content margin-bottom-10">
        <div class="sorting-block">
            <div class="row margin-bottom-10">
                <div class="col-md-6">
                    <div class="title-box-v2">
                        <h2><span class="color-green"> {% trans "Nomeada Pela" %}</span></h2>
                    </div>
                    <div>
                        <img alt="" src="{% static 'img/jucepe2.jpg' %}" class="img-responsive saiba_mais">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-box-v2">
                        <h2><span class="color-green"> {% trans "Credenciada" %}</span></h2>
                    </div>
                    <div>
                        <img alt="" src="{% static 'img/ministerioRE_logo.jpg' %}" class="img-responsive saiba_mais">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="container content margin-bottom-10">
        <div class="sorting-block">
            <div class="row margin-bottom-10">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>-->

    <!--=== Container Part ===-->
    <div class="container content margin-bottom-10">
        <div class="title-box-v2">
            <h2><span class="color-green"> {% trans "Associada" %}</span></h2>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div>
                    <a href="http://www.sintra.org.br/site/index.php" target="_blank">
                        <img alt="sintra" src="{% static 'img/sintra_logotipo.png' %}" class="img-responsive saiba_mais">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <a href="http://abrates.net.br/" target="_blank">
                        <img alt="" src="{% static 'img/abrates_logo.jpg' %}" class="img-responsive saiba_mais">
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="sorting-block">

            <div class="clearfix"></div>
        </div>

        <!-- Our Clients -->
        {% include 'includes/clients.html' %}
        <!-- End Our Clients -->
    </div><!--/container-->
    <!--=== Container Part ===-->



{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>

{% endblock extra_js %}