{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block extra_css %}

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{% static 'css/pages/portfolio-v2.css' %}">

{% endblock extra_css %}

{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{% trans "Saiba Mais" %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
                <li class="active">{% trans "Saiba Mais" %}</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

    <!--=== About Me Img ===-->
    <div class="container content">
        <div class="row about-me margin-bottom-10">
            <div class="col-md-5 shadow-wrapper md-margin-bottom-20">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="assets/img/team/team1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>ANDREA VIVIANA BAYLÉ DE OLIVEIRA</h2>
                        <span>{% trans "Tradutora Pública e Intérprete Comercial de Espanhol" %}</span>
                    </div>
                    <ul class="social-icons pull-right">
                        <li><a class="rounded-x social_facebook" target="_blank" data-original-title="Facebook" href="https://www.facebook.com/pages/Andrea-Bayl%C3%A9-Tradu%C3%A7%C3%B5es-Juramentadas/634420899904641?ref=hl"></a></li>
                        <!--<li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>-->
                        <li><a class="rounded-x social_googleplus" target="_blank" data-original-title="Google Plus" href="https://plus.google.com/u/0/105537593069876746935/posts"></a></li>
                        <li><a class="rounded-x social_linkedin" target="_blank" data-original-title="Linkedin" href="https://www.linkedin.com/profile/view?id=79740275"></a></li>
                    </ul>
                </div>
                <p>{% trans "Todas as traduções juramentadas, entre os idiomas espanhol e português, são feitas pessoalmente por Andrea Baylé, tradutora pública juramentada, habilitada por concurso público promovido pela Junta Comercial do Estado de Pernambuco – JUCEPE em 2011, com registro nº 415." %}</p>
                <p>{% trans "Argentina de nascimento e naturalizada brasileira mora no Brasil há 16 anos. Obteve o Certificado de Proficiência em Língua Portuguesa para Estrangeiros" %} <strong>Celpe-Bras</strong>, {% trans "nível superior, em 2008. Trabalhou como professora de Espanhol em renomadas escolas de idiomas por quatorze anos e atualmente ministra aulas no Instituto Cervantes de Recife, atuando também como palestrante e examinadora nas bancas do exame DELE (Diploma de Espanhol Língua Estrangeira) desde 2009." %}</p>
                <p>{% trans "Tradutora com ampla experiência nas áreas:" %}</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> {% trans "Jurídica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Acadêmica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Médica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Farmacêutica" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Comercial" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Administrativa" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Contábil" %}</li>
                    <li><i class="color-green fa fa-check"></i> {% trans "Outros" %}</li>
                </ul>
                <p>{% trans "É Licenciada em Letras Português e Pós-graduada em Tradução de Espanhol. Com o intuito de oferecer trabalhos de qualidade e agregar exatidão e precisão na tradução de terminologia, tem participado de diversos cursos de atualização em tradução técnica, como por exemplo a “Terceira Jornada de Tradução Jurídica” na Argentina e no Uruguai “Terminologia Jurídica – Semelhanças e Diferenças entre os Sistemas Brasileiro e Uruguaio”." %}</p>
            </div>
        </div>
    </div>
    <!--=== End About Me Img ===-->

    <div class="container content margin-bottom-10">
        <div class="title-box-v2">
            <h2><span class="color-green"> {% trans "Nomeada Pela" %}</span></h2>
        </div>
        <div class="sorting-block">
            <div class="row margin-bottom-10">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div>
                        <img alt="" src="{% static 'img/jucepe.jpg' %}" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="container content margin-bottom-10">
        <div class="title-box-v2">
            <h2><span class="color-green"> {% trans "Credenciada" %}</span></h2>
        </div>
        <div class="sorting-block">
            <div class="row margin-bottom-10">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div>
                        <img alt="" src="{% static 'img/ministerioRE_logo.jpg' %}" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <!--=== Container Part ===-->
    <div class="container content margin-bottom-10">
        <div class="title-box-v2">
            <h2><span class="color-green"> {% trans "Associada" %}</span></h2>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-6">
                <div>
                    <a href="http://www.sintra.org.br/site/index.php" target="_blank">
                        <img alt="sintra" src="{% static 'img/sintra_logotipo.png' %}" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <a href="http://abrates.net.br/site/home" target="_blank">
                        <img alt="" src="{% static 'img/abrates_logo.jpg' %}" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>

        <div class="sorting-block">

            <div class="clearfix"></div>
        </div>
    </div><!--/container-->
    <!--=== Container Part ===-->

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="assets/plugins/circles-master/circles.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.mixitup.min.js"></script>

<script type="text/javascript" src="assets/js/plugins/circles-master.js"></script>
<script type="text/javascript" src="assets/js/pages/page_portfolio.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        PortfolioPage.init();
        CirclesMaster.initCirclesMaster1();
    });
</script>
{% endblock extra_js %}