{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
    	<div class="container">
            <h1 class="pull-left">{% trans "O que é" %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">{% trans "Tradução Juramentada" %}</a></li>
                <li class="active">{% trans "O que é" %}</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row margin-bottom-40">
        	<div class="col-md-6 md-margin-bottom-40">
                <div class="headline"><h2>O QUE É tradução juramentada?</h2></div>
                <p>{% trans "É uma tradução oficial, feita por um Tradutor Público, também chamado de Tradutor Juramentado. O Tradutor Público e Intérprete Comercial, nome correto do ofício, habilitado em um ou mais idiomas estrangeiros e português é nomeado e matriculado na Junta Comercial do seu estado de residência, após aprovação em concurso público." %}</p>
                <p>{% trans "Somente a tradução juramentada é reconhecida oficialmente por instituições e órgãos públicos no Brasil e tem validade como documento oficial ou legal. Segundo o Decreto N° 13.609, de 21 de outubro de 1943, capítulo III, artigo 18," %}
                <em>{% trans '"Nenhum livro, documento ou papel de qualquer natureza que for exarado (redigido) em idioma estrangeiro, produzirá efeito em repartições da União dos Estados e dos municípios, em qualquer instância, Juízo ou Tribunal ou entidades mantidas, fiscalizadas ou orientadas pelos poderes públicos, sem ser acompanhado da respectiva tradução feita na conformidade deste regulamento".' %}</em></p>
                <p>{% trans 'Com efeito, é necessário que funcionários ou juízes saibam com exatidão o que consta do documento que recebem para poder agir de acordo com a lei. Ora, o único idioma que uma pessoa domina obrigatoriamente é o nacional, não se pode exigir de todos os funcionários que conheçam outro idioma profundamente ou que sejam especialistas de tradução. E as autoridades precisam de traduções rigorosas e claras, para poder tomar decisões em que os direitos dos cidadãos envolvidos sejam garantidos.' %}</p>
                <p>{% trans 'O Art. 13 da Constituição de 1988 afirma que ' %}<em>{% trans '"A língua portuguesa é o idioma oficial da República Federativa do Brasil." ' %}</em>
                {% trans 'Por isso, o Código Civil estabelece no Art. 140 que ' %}<em>{% trans '"Os escritos de obrigação redigidos em língua estrangeira serão, para ter efeitos legais no país, vertidos em português." ' %}</em>
                {% trans 'E lê-se, no Código de Processo Civil, Art. 156 e 157, que ' %}<em>{% trans '"Em todos os atos e termos do processo é obrigatório o uso do vernáculo" e que "Só poderá ser junto aos autos documento redigido em língua estrangeira, quando acompanhado de versão em vernáculo, firmada por tradutor juramentado".' %}</em></p>
            </div>

        	<div class="col-md-6 md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="{% static 'img/gavel4.jpg' %}" alt="moedas">
                </div>
            </div>
        </div><!--/row-->

    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock content %}
